h1
{   
    text-align: center;
    size: 10px;
    color: black;
    font-size: 50px;
    border: 30px;
    border-radius: 300px;
    border-style: groove;
}
h2
{
    size: 10px;
    font-size: x-large;
    text-align: center;
}
p
{
    font-size: x-large;
    text-align: center;
}
a
{
    text-decoration: none;
}