.First_paragraph
{
animation-name: Slideinfromleft;
animation-play-state: running;
animation-duration: 1s;
margin-left: 30%;
margin-right: 30%;
}
.Second_paragraph
{
animation-name: Slideinfromright;
animation-play-state: running;
animation-duration: 1s;
margin-left: 30%;
margin-right: 30%;
}
.Third_Paragraph
{
animation-name: Slideinfromleft;
animation-play-state: running;
animation-duration: 1s;
margin-left: 30%;
margin-right: 30%;
}
.Fourth_Paragraph
{
animation-name: Slideinfromright;
animation-play-state: running;
animation-duration: 1s;
margin-left: 30%;
margin-right: 30%;
}
.Fifth_Paragraph
{
animation-name: Slideinfromleft;
animation-play-state: running;
animation-duration: 1s;
margin-left: 30%;
margin-right: 30%;
}
.Sixth_Paragraph
{
animation-name: Slideinfromright;
animation-play-state: running;
animation-duration: 1s;
margin-left: 30%;
margin-right: 30%;
}
header{
    background-color: #6F2232;
    text-align: center;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    margin-left: 10%;
    margin-right: 10%;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background-color: #6F2232;
    color: white;
    cursor: pointer;
    font-size: large;
}
body{
    background-color: #1A1A1D;
    overflow-x: hidden;
}
p{
    color: #F64C72;
    font-size: x-large;
    text-align: center;
}
h2
{
    text-align: center;
    color: #C3073F;
}
h1{
    text-align: center;
    color: #C3073F;
    font-size: xxx-large;
}
h3{
    color: #F64C72;
    text-align: center;
}
@keyframes Slideinfromleft{
    0%{
        opacity: 5%;
        transform: translateX(200%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}
@keyframes Slideinfromright{
    0%{
        opacity: 5%;
        transform: translateX(-200%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}
.center{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}








